<div class="anim-section">
	<div class="anim-section__row">
			<div class="anim-section__animation anim-section__animation-1">
				<img id="animation-placeholder-1" src="{{theme.path}}/compiled/images/pose1.svg" />
			</div>
			<div class="anim-section__blurb-1">
				{{post.meta('second-blurb')}}
			</div>
	</div> 
	<div class="anim-section__row">
			<div class="anim-section__animation anim-section__animation-2">
				<img id="animation-placeholder-2" src="{{theme.path}}/compiled/images/pose2.svg" />
			</div>
			<div class="anim-section__blurb-2">
				{{post.meta('bullet-list')}}
			</div>
	</div>
</div>