<div class="buy-course">
	<div class="buy-course__listing">
		<div class="buy-course__price">{{ post.meta('buy_course_price') }}</div>
		<div class="buy-course__button"><a href="{{ post.meta('buy_course_product') }}">Register</a></div>
	</div>
	<div>
		<img class="buy-course__img" src={{post.meta('buy_course_img') }} />
	</div>
</div>
