<div class="cta-parallax__outer">
	<div class="cta-parallax__inner">
		<div class="cta-parallax__msg">{{ post.meta('cta-parallax-msg') }}</div>
			{% include 'partials/newsletter.twig' %}
	</div>
	<div class="cta-parallax" style="background-image:url({{Image(post.meta('cta-parallax-img')).src}})">
	</div>

</div>

<svg xmlns="http://www.w3.org/2000/svg" style="position: absolute" >
 <defs>
 <clipPath id="svgmask">
  <path id="Path_74" data-name="Path 74" transform="scale(1.07 1) translate(0 37)" d="M0,0S376.678-83.256,889,0,1920,0,1920,0V811s-367.766,96.291-964.444,0S0,811,0,811Z" fill="#000000" />
</clipPath>
 <clipPath id="svgmasklg">
  <path id="Path_75" data-name="Path 74" transform="scale(1.5 1) translate(0 37)" d="M0,0S376.678-83.256,889,0,1920,0,1920,0V811s-367.766,96.291-964.444,0S0,811,0,811Z" fill="#000000" />
</clipPath>
</defs>
</svg>
