<div class="hero__wrapper">
<div class="hero hero--class" style=" background-image:url({{post.thumbnail}});">
	<div class="slider__scrim">	</div>
	<div class="slider__cta">
		<div class=hero__title>
			<h1>{{ post.title }}</h1>
		</div>
		<div class="slider__button">
			<a href={{post.meta('cta-link')}}>{{post.meta('cta-text')}}</a>
		</div>
	</div>
</div>
</div>