.windowpane{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: $windowpane-grid-gap-mobile;
	grid-column-gap: $windowpane-grid-gap-mobile;
	@include tablet{
		grid-row-gap: $windowpane-grid-gap;
		grid-column-gap: $windowpane-grid-gap;
	}
	&__pane{
		overflow: hidden;
		width: $windowpane-pane-width/2 ;	
		height: $windowpane-pane-height/2;
		text-align: center;
		@include mobile{
			width: $windowpane-pane-width ;	
			height: $windowpane-pane-height;
		}
		&:nth-child(even){
			transform: translateY($windowpane-vert-offset);
		}
	}
	&__img{
		width: 100%;
		height: 100%;
		background-size: cover;	
		background-repeat: no-repeat;
		background-position: center;
	}
}