{% extends "base.twig" %}

{% block content %}
	<div class="fourohfour" style="background-image: url({{ Image(options.img_404).src('large') }})">
		<p>Every step is on the path</p>
		<p>-Lao Tzu</p>
	</div>
{% endblock %}